# Ingore core Drupal
includes/*
misc/*
modules/*
profiles/*
!profiles/lyon
!profiles/lyon/*
scripts/*
sites/*
!sites/all/modules/gfi
themes/*
!.gitignore
!lyon.make
!README.md
.editorconfig
.htaccess
authorize.php
CHANGELOG.txt
COPYRIGHT.txt
cron.php
index.php
INSTALL.mysql.txt
INSTALL.pgsql.txt
install.php
INSTALL.sqlite.txt
INSTALL.txt
LICENSE.txt
MAINTAINERS.txt
README.txt
robots.txt
update.php
UPGRADE.txt
web.config
xmlrpc.php
